{% load static %}  <!-- Load the static template tag -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create or Update Question</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Load your custom CSS file -->
</head>
<body>
    <div class="container">
        <header class="header">
            <nav class="sidebar">
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/save_the_date/date/">Date</a></li>
                    <li><a href="/save_the_date/questions/">Questions</a></li>
                    <li><a href="/save_the_date/question/create/">Create Question</a></li>
                </ul>
            </nav>
            <h1>Create or Update Question</h1>
        </header>
        
        <main class="form-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </main>
    </div>
</body>
</html>
